html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  padding: 2px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input:focus {outline:none;}

/* Basscss Btn */

.btn {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  height: auto;
  border: var(--border-width) solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --border-width: 1px;
  --bold-font-weight: bold;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
}

/* Custom */

.bg-teal {
	background-color: teal;
}

.c-white {
	color: white;
}

.border-black {
	border: 1px solid black;
}

.video-container {
  pointer-events: none;
  height: 390px;
  width: 640px;
}

.input-width {
	width: 100%;
}

.play-button-center {
  padding-left: 40%;
}

.btn-play {
  margin-top: 10px;
  border-radius: 999px;
  float: left;
}

.pause-button-center {
  padding-left: 36%;
}

.title-text {
  font-size: 1em;
  float: left;
}

.user-text {
  font-size: 1em;
}

.progress-bar {
  width: 0%;
  background-color: orange;
  height: 2px;
}

.ui-bar {
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.landing-container {
  margin: 0 auto;
}














